name: Monitor Orders (6h)

on:
  workflow_dispatch:

jobs:
  monitor:
    runs-on: windows-latest
    timeout-minutes: 360

    steps:
      - name: Ejecutar monitoreo por 6 horas
        shell: powershell
        run: |
          $cookie = "wmsession=d274004c-b7d6-4342-883c-fbffc49bf6ee-1764190660765"
          $urlBase = "https://www.revoolico.com/actions/topup-cubarecarga/in-transit-topup/"
          $orden = 6820980

          $endTime = (Get-Date).AddHours(6)

          Write-Host "Iniciando monitoreo hasta $endTime"

          $headers = @{
              "Cookie"     = $cookie
              "User-Agent" = "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
              "Accept"     = "text/html,application/xhtml+xml"
              "Referer"    = "https://www.revoolico.com/"
          }
          
          while ((Get-Date) -lt $endTime) {
              try {
                  $resp = Invoke-WebRequest "$urlBase$orden" -Headers $headers -TimeoutSec 20 -UseBasicParsing
          
                  if ($resp.Content -match "transaccion" -and $resp.Content -match "status") {
                      $orden++
                      Write-Host "Nueva orden detectada: $orden"
                  }
              }
              catch {
                  Write-Warning "HTTP FALLÓ: $($_.Exception.Message)"
              }
          
              Start-Sleep -Seconds 5
          }



          Write-Host "Tiempo máximo alcanzado. Finalizando workflow."
